<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Channel" value="directline"/>
    <add key="MessageType" value="message"/>
    <add key="Locale" value="en-US"/>
    <add key="BotId" value="botId"/>
    <add key="BotName" value="botName"/>
    <add key="ServiceUrl" value="http://dummyurl.host.com"/>
    <add key="DirectLineSecret" value="SECRET"/>
    <add key="TestCaseFile" value="E:\\BotTestCases.xlsx"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>